* {
    margin: 0;
    padding: 0;
}

.cd-profile {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 0.8rem;
    width: 250px;
    justify-content: space-evenly;
    margin: 0 auto;

}

.cd-header {
    margin-right: 1rem;
    margin-left: 1rem;
    flex-direction: column;
    gap: 10px;
}

.cd-actions {
    text-align: center;
}

.cd-content {
    flex-direction: column;
}

.cd-nombre {
    display: block;

}

.cd-username {
    display: block;
    margin-top: 2px;
}

.cd-button {
    margin-left: 10px;
    border: 0px;
    border-radius: 5px;
    width: 60px;
    height: 25px;
}

.cd-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;

}

.cd-React {
    display: flex;
    margin: 10px 10px;
    align-content: center;
    margin-top: 10px;

}

/* // Organización del contenido */
.Content-pagina {
    display: grid;
    min-height: 100vh;
    width: 100%;
    /* Define la altura mínima del contenido */
    margin: 0 auto;
    overflow: hidden;
}