.Contenedor-First {
    display: grid;
    margin: 15px auto;
    grid-template-columns: repeat(auto-fill, minmax(55vh, 1fr));
    grid-auto-rows: 250px;
    gap: 20px 15px;
    max-width: 90%;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}

.Welcome-page {
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #282727;
    border: 1px solid #0000009e;
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

.Welcome-page h1 {
    text-align: center;
    word-wrap: break-word;
    font-size: 1.5rem;
    margin: 0 auto;
}

.React-logo {
    margin-top: 15px;
    width: 300px;
    height: auto;

}

.React-logo:hover {
    filter: drop-shadow(7px 5px 5px #93f4ff);
    transition: filter 0.3s ease-in-out;
}


.Welcome-page:last-of-type {
    grid-column: 1 / -1;
    /* Hace que el último elemento de .Welcome-page ocupe toda la fila */
}