.Footer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(100px, 1fr));
    margin: 10px auto;
    width: 90%;
    height: 100%;
    gap: 12px 12px;
}



.Ft-content1 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #282727;
    border: 1px solid #0000009e;
    border-radius: 8px;
    width: 100%;
    min-height: 100px;
    flex-wrap: wrap;
    overflow: hidden;
    word-wrap: break-word;

}

.Ft-content1 h1 {
    text-align: center;
    word-wrap: break-word;
    font-size: 1.2rem;
    margin: 0 auto;
}