.ContToDo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100vh;
}

.ContToDo-list,
.ContToDo-notas {
    border: 1px solid black;
}

.ContToDo-notas {
    display: grid;
    grid-template-rows: 30% 70%;
}