.ContToDo {
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100vh;
}

.Botones {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.ContToDo-notas {
    display: grid;
    grid-template-rows: 30% 70%;
    overflow: hidden;
}

.ConToDo-Fecha,
.ConToDo-notasimportantes {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ConToDo-notasimportantes {
    flex-direction: column;
}